:root {
  --eagles-orange: #EA3900;
  --eagles-navy: #0A0F1C;
}

@font-face {
  font-family: 'Hanwha Eagles';
  src: url('fonts/HanwhaEagles.woff2') format('truetype');
}

body {
  background-color: var(--eagles-navy);
  margin: 0;
  padding: 0;
  font-family: 'Hanwha Eagles', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, var(--eagles-navy) 0%, rgba(0,0,0,0) 100%);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;

}

header .logo {
  height: 36px;
  width: auto;
  margin-right: 10px;
}

header h1 {
  color: white;
  font-size: 32px;
  margin: 0;
  padding-left: 5px;
}

header h2 {
  color: var(--eagles-orange);
  font-size: 32px;
  margin: 0;
}

#games-container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(16, minmax(66.67px, 1fr));
  grid-auto-flow: row;
  gap: 0;
  height: 400px;
  margin: 0 auto;
  grid-auto-rows: minmax(min-content, max-content);
}

.game-card {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  background-size: cover;
  background-position: center;
}

.mvp-name {
  position: absolute;
  top: 180px;
  right: 20px;
  color: white;
  font-size: 48px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.win-card {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
}

.win-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.win-card:hover::before {
  opacity: 1;
}

.win-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--scoreboard-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.win-card:hover::after {
  opacity: 1;
}

.game-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.game-card:hover .game-info {
  opacity: 1;
}

.game-card:hover .mvp-name {
  opacity: 1;
}

.loss-card {
  grid-column: span 1;
  aspect-ratio: 1 / 1;
  background-color: var(--eagles-orange);
  position: relative;
}

.loss-card .game-info {
  font-size: 0.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loss-card .game-date {
  font-size: 6px;
}

.loss-card .score {
  font-size: 18px;
  color: var(--eagles-navy);
  align-self: flex-end;
  margin-bottom: 0;
  margin-right: 0;
}

.loss-card .score .opponent {
  color: white;
}

.loss-card .team-logo {
  height: 16px;
  width: auto;
}

.loss-card .vs-team {
  gap: 4px;
}

.canceled-card {
  grid-column: span 1;
  aspect-ratio: 1 / 1;
  background-color: var(--eagles-navy);
  font-size: 0.8em;
}

.draw-card {
  grid-column: span 1;
  aspect-ratio: 1 / 1;
  background-color: white;
}

.game-date {
  font-size: 8px;
  color: white;
}

.vs-team {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.vs-text {
  color: white;
  font-size: 8px;
}

.team-logo {
  height: 20px;
  width: auto;
}

.score {
  font-size: 20px;
