
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  @font-face {
    font-family: 'KBO';
    src: url('./font/KBO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* KBO Bold Font */
  @font-face {
    font-family: 'KBO';
    src: url('./font/KBO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  /* KBO Light Font */
  @font-face {
    font-family: 'KBO';
    src: url('./font/KBO-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
  }
  
  body {
    font-family: 'KBO', sans-serif;

  }
  
  h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 72px;
  }
  
  /* Button Container */
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  
  /* Button Styles */
  .team-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
    background-color: #f0f0f0;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .team-button img {
    width: auto;
    height: 35px;
    margin-right: 20px;
    transition: all 0.3s ease;
  }
  
  .team-button span {
    margin-top: 5px;
    font-family: 'KBO', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #000;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .team-button:hover {
    transform: scale(1.1);
    color: #fff;
  }
  
  .team-button:hover img {
    filter: brightness(0) invert(1); 
  }
  
  .team-button:hover span {
    color: #fff; /* Text turns white */
  }
  

  .team-button.active {
    color: var(--team-color);
    background-color: var(--team-color);
    pointer-events: none;
  }
  
  .team-button.active img {
    filter: brightness(0) invert(1); 
  }
  
  .team-button.active span {
    color: #fff; 
  }
  
  .frame-container {
    display: grid;
    grid-template-columns: repeat(3, 410px); 
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .frame-container {
    display: grid;
    grid-template-columns: repeat(3, 410px); 
    gap: 0px;
    margin: 10px; 
    justify-content: center;
    padding: 0 10px; 
    box-sizing: border-box; 
  }
  
  .frame {
    width: calc(33.33% - 20px); 
    display: none;
    text-align: center;
  }
  .frames{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 20px;
    padding: 0px;
    justify-content: flex-start;
  }
  .frame img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
  }
  .description {
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  